body{
	background-color : 537B2F;
	margin : 50px;
}
header{
	display : flex;
	justify-content: space-between;
	align-items: center;
	padding : 25px 60px;
	background-color : #FFFDD0;
	margin : 30px 30px 0px 30px;
}
nav{
	display : flex;
	gap : 150px;
}
.logo{
	font-size : 28px;
	font-weight : bold;
	letter-spacing : 2px;
}
nav a{
	text-decoration: none;
	font-size : 22px;
	color : #333;
}
nav a:hover{
	color : green;
}
.cart{
	font-size : 25;
}

/*nav bar*/


.hero {
    position: relative;
	height : 800px;
	margin: 0px 30px 0px 30px;
}

.hero-image img{
    position: absolute;
	height : 800px;
	width : auto; 
}

.hero-text {
    position: absolute;
	left : 100px;
	top : 100px;
    
}
.hero-text h1{
	font-size : 90px;
}
.hero-text p{
	font-size : 30px;
}
.hero-text button{
	font-size : 40px;
	background-color : 4F772D;
	color : ECF39E;
}
/*hero secton*/